:root {
    --logo-color: #1d2d8c;
    --bg-primary: var(--logo-color);
    --bg-secondary: #3483FF;
    --link-blue: #216BDF;
    --bg-grey: #F5F6F8;
    --navlink-color: #111A50;
    --head-color: #00062C;
    --para-color: #6c6c6c;
    --blue-title: #3186d2;
    --color-skin: #FCF9F4;
    --tag-bg: #F0F0F0;
    --tag-android: #FB6E6E;
    --tag-ios: #5A5CD6;
    --gold: #FFCA1D;
    --navbar-height: 0px;
    --containerMargin: 0px;
}

/* width */
::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include media-breakpoint-down(lg) {
        font-size: 51.62%;
    }
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    // overflow: hidden;
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;

    a{
        transition: .3s;
        color: var(--link-blue);
        &:hover{
            text-decoration: none;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: 'Playfair Display';
    font-weight: 700;

    &.blue-title {
        color: var(--blue-title);
        // font-family: 'Archivo', sans-serif;
    }

    &.odd-family {
        // font-family: 'Archivo', sans-serif;
        font-weight: 500;
    }
}

h1 {
    font-size: 4.3rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

h5 {
    font-size: 2.4rem;
}

h6 {
    font-size: 2rem;
}

p{
    font-weight: 600;
}

.btn {
    transition: .3s;
    font-size: 1.8rem;

    &.btn-primary {
        background: var(--bg-secondary);
        border-radius: 5px;
        padding: 1.2rem 4rem;
        position: relative;
        -webkit-transition: all .5s ease-Out;
        transition: all .5s ease-Out;
        overflow: hidden;
        z-index: 1;
        // cursor: none;

        &::after {
            content: '';
            width: 0%;
            height: 0%;
            opacity: 0;
            line-height: 4rem;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            -webkit-transition: all .5s ease-Out;
            transition: all .5s ease-Out;
            top: 2rem;
            left: 7rem;
            z-index: -1;
        }

        &:hover {
            color: var(--bg-primary);

            &::after {
                width: 200%;
                height: 500%;
                opacity: 1;
                top: -7rem;
                left: -7rem;
            }
        }
    }


    &.play-btn {
        width: 7.8rem;
        height: 7.8rem;
        background-color: #fff;
        border-radius: 50%;
        line-height: 7.8rem;
        text-align: center;
        background-image: url(../images/home/banner/play-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        transition: .3s;
        box-shadow: 1px 16px 17px 1px #f8a0b342;

        &:hover {
            transform: scale(1.05);
            box-shadow: 1px 16px 17px 1px #f8a0b36e;
        }
    }
}

section{
    padding: 9.5rem 0;
}

button:focus {
    outline: none;
}

.icon-default{
    width: 6.5rem;
    height: 6.5rem;
    background: #DEEBFF;
    display: block;
    border-radius: 15px;
    line-height: 6.5rem;
    text-align: center;
    margin-bottom: 2rem;
    img{
        max-width: 2.8rem;
    }
}

.head_with_link{
    display: flex;
    align-items: center;
    padding-bottom: 5.5rem;
    

    .arrows-wrap {
        display: flex;
        align-items: center;
        margin-left: auto;

        img{
            height: 20px;
        }

        span{
            cursor: pointer;
        }

        .left{
            transform: rotate(180deg);
            margin-right: 8rem;
            margin-top: .4rem;
        }

    }
}

.link-text{
    margin-left: auto;
    font-weight: 700;
    i{
        margin-left: 5px;
    }
}


.slick-slide {
    &:focus {
        outline: none;
    }
}

.h-100vh {
    height: 100vh !important;
}

.w-100vh {
    width: 100vh !important;
}

.slider-container-left {
    padding-left: 15px;
}

.slider-container-right {
    padding-right: 15px;
}

.slick-arrow.slick-hidden {
    display: block;
    cursor: pointer;
}

@include media-breakpoint-up(xl) {
    .offset-xl-05 {
        margin-left: 3.8%;
    }
    .h-xl-100 {
        height: 100vh !important;
    }

}

@keyframes shitLoadAnimation {
    0% {
        border-radius: 0px;
    }
    10% {
        border-radius: 0px;
    }
 
    50% {
        border-radius: 70% 70% 0 0;
    }

    100% {
        border-radius: 70% 70% 0 0;
    }
}